body {
   background-size: cover;
}

h1 {
  padding:10px;
  text-align: center;
  color: white;
  margin-top: 15%;
  font-family: rockwell;
  font-size: 100px;
  background: black;
  display: table;
  margin-left:auto;
  margin-right:auto;
}

h2 {
  padding:10px;
  text-align: center;
  color: white;
  margin-top: 4%;
  font-family: rockwell;
  font-size: 80px;
  background: black;
  display: table;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
}

button{
  position: absolute;
  border: none;
  padding: 40px;
  background-color: #b5b5b5;
  
}

.button{
}

#links a{
  font-size: 20px;
  font-family: serif;
  margin: 1%;
  text-decoration: none;
  color: gray;
}

#github:hover{
}

#links {
    text-align: center;
}

table.center {
}

#userRepos {
  text-align: center;
  margin: auto;
}

#userRepos li{
  padding-bottom: 10%;
}

li {
  text-decoration: none;
}

p{
  font-size: 20px;
}

strong {
  font-size: 30px;
}

#back{
  padding: 5%;
  margin-top: 10%;
  font-size: 20pt;
}
